.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/bg1.jpg) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        color: $second-color;
        text-transform: uppercase;
        line-height: 42px;
    }
    &__subheader {
        font-weight: 500;
        font-size: 24px;
        color: $second-color;
        margin-bottom: 60px;
        text-transform: uppercase;
        line-height: 24px;
    }
    &__icons {
        display: flex;
        width: 425px;
        justify-content: space-between;
        margin-bottom: 65px;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: $second-color;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: $second-color;
        a {
            color: $second-color;
        }
    }
}

